<div class="pending-approvals w-full h-full rounded-2xl flex flex-col justify-between"> 
  <div class="relative shadow-md sm:rounded-lg text-sm">
    <table class="w-full text-sm text-left rtl:text-right text-gray-400">
      <thead class="text-xsuppercase bg-gray-700/55 text-gray-400">
        <tr>
          <th scope="col" class="px-6 py-3 font-bold font-sans tracking-widest">
            Pending Approvals
          </th>
        </tr>
      </thead>

      <tbody>
        <% if @confirmed_email_traders.any? %>
          <% @confirmed_email_traders.each do |trader| %>
            <tr class="border-b bg-stone-900/35 border-gray-700 hover:bg-gray-600 flex items-center justify-between gap-3">
              <th scope="row" class="px-6 py-3 font-medium whitespace-nowrap text-white flex items-center gap-3">
                <% ring_color_class = trader.status.status_type == "approved" ? "ring-primary/55" : "ring-accent/55" %>
                <%= image_tag("fox_avatar.png", alt: "user photo", class: "w-8 h-8 rounded-full ring-4 #{ring_color_class}") %>
                <%= trader.username %>
                <small class="text-white/65 italic">
                  <%= trader.email %>
                </small>
              </th>  
              <td class="flex justify-end px-6 py-2.5">
                <%= form_with(model: trader.status, url: status_path(trader.status.id), method: :patch, id: "approve-form-#{trader.id}") do |form| %>
                  <%= form.hidden_field :status_type, value: 'approved' %>
                  <%= form.button "Approve", class: "approve-btn text-white bg-violet-600 hover:bg-violet-800 focus:ring-4 focus:outline-none focus:ring-violet-300 dark:focus:ring-violet-800 font-medium rounded-lg text-sm inline-flex items-center px-5 py-2.5 text-center" %>
                <% end %>
              </td>        
            </tr>
          <% end %>

        <% else %>
          <tr class="border-b bg-stone-900/35 border-gray-700 hover:bg-gray-600">
            <th scope="row" class="px-6 py-3 text-xs font-light font-sans whitespace-nowrap text-white">
                No pending approval
            </th>
          </tr>
        <% end %>
      </tbody>
    </table>  
  </div>

  <div class=" grid place-items-center py-2.5">
    <%== pagy_nav(@pagy) if @pagy.pages > 1 %> 
  </div>
  
</div>

