<div class="border-2 border-gray-600 w-full h-full rounded-2xl flex justify-between flex-col p-4">
  <h1 class="font-bold font-sans tracking-widest">Pending Approvals</h1>
  
  <% pending_traders.each do |pending_trader| %>
    <div class="border p-4">
      <%= pending_trader.user.username %> <br>
      (<%= pending_trader.created_at %>)

      <%= form_with model: pending_trader, url: status_path(pending_trader), method: :patch, remote: true do |form| %>
        <%= form.hidden_field :status_type, value: "approved" %>
        <%= form.button "Approve", class: "button--gray", type: "submit" %>
      <% end %>
    </div>
  <% end %>
</div>
