<h2 class="border-b-2 border-gray-500 p-2 pb-4 text-xl font-sans font-bold tracking-widest uppercase">Change your password</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <%= f.hidden_field :reset_password_token %>

  <div class="form__wrapper">
    <div class="field">
      <%= f.label :password, "New password" %> 
      <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em> 
      <% end %>
      <%= f.password_field :password, autofocus: true, autocomplete: "new-password" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation, "Confirm new password" %> 
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    </div>

    <div class="actions">
      <%= f.button "Change my password" %>
    </div>
  </div>
<% end %>

<div class="flex flex-col">
  <%= render "devise/shared/links" %>
</div>