<nav class="fixed top-0 z-20 w-full border-b bg-stone-950 border-gray-700">
  <div class="px-3 py-3 lg:px-5 lg:pl-3">
    <div class="flex items-center justify-between">
      <div class="flex items-center justify-start rtl:justify-end">
        <button data-drawer-target="logo-sidebar" data-drawer-toggle="logo-sidebar" aria-controls="logo-sidebar" type="button" class="inline-flex items-center p-2 text-sm text-gray-500 rounded-lg sm:hidden focus:outline-none focus:ring-2 :text-gray-400 hover:bg-gray-700 focus:ring-gray-600">
            <span class="sr-only">Open sidebar</span>
            <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
              <path clip-rule="evenodd" fill-rule="evenodd" d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z"></path>
            </svg>
        </button>

        <%= link_to root_path, class: "h-8 px-2" do %>
          <%= render 'shared/stocker_logo' %>
        <% end %>        
      </div>
      <div class="flex items-center px-2">
          <div class="flex items-center ms-3">
            <div>
              <button type="button" class="flex text-sm bg-stone-950 rounded-full focus:ring-4 focus:ring-gray-600" aria-expanded="false" data-dropdown-toggle="dropdown-user">
                <span class="sr-only">Open user menu</span>
                <% if current_user.admin? %>
                  <%= image_tag("cat_avatar.png", alt: "user photo", class: "w-8 h-8 rounded-full ring-4 ring-amber-700") %>
                <% else %>
                  <% ring_color_class = trader.status.status_type == "approved" ? "ring-primary/55" : "ring-accent/55" %>
                  <%= image_tag("fox_avatar.png", alt: "user photo", class: "w-8 h-8 rounded-full ring-4 #{ring_color_class}") %>
                <% end %>
              </button>
            </div>
            <div class="z-50 hidden my-4 text-base list-none divide-y rounded shadow bg-gray-700 divide-gray-600" id="dropdown-user">
              <div class="px-4 py-3" role="none">
                <p class="text-smtext-white" role="none">
                  <%= current_user.username %>
                </p>
                <p class="text-xs font-medium truncate text-gray-300" role="none">
                  <%= current_user.email %>
                </p>
              </div>
              <ul class="py-1 font-sans" role="none">
                <li>                 
                  <%= link_to trader_dashboard_path do %>
                    <div class="block px-4 py-2 text-sm text-gray-300 hover:bg-gray-600 hover:text-white" role="menuitem">Dashboard</div>
                  <% end %>
                </li>

                <li>
                  <a href="#" class="block px-4 py-2 text-sm text-gray-300 hover:bg-gray-600 hover:text-white" role="menuitem">Settings</a>
                </li>

                <li>
                  <div data-modal-target="popup-modal" data-modal-toggle="popup-modal" role="menuitem" class="block px-4 py-2 text-sm text-gray-300 hover:bg-gray-600 hover:text-white cursor-pointer">
                    Logout
                  </div>                  
                </li>

              </ul>
            </div>
          </div>
        </div>
    </div>
  </div>
</nav>