<div class="flex animate-ticker h-10 items-center justify-center gap-6">
  <%= image_tag("google_logo.png", alt: "google_logo", class: "bg-emerald-50 rounded-full h-full p-2 aspect-1 ring-2 ring-inset ring-accent") %>
  <%= image_tag("microsoft_logo.png", alt: "microsoft_logo", class: "bg-emerald-50 rounded-full h-full p-2 aspect-1 ring-2 ring-inset ring-accent") %>
  <%= image_tag("apple_logo.png", alt: "apple_logo", class: "bg-emerald-50 rounded-full h-full p-2 aspect-1 ring-2 ring-inset ring-accent") %>
  <%= image_tag("nike_logo.png", alt: "nike_logo", class: "bg-emerald-50 rounded-full h-full p-2 aspect-1 ring-2 ring-inset ring-accent") %>  
  <%= image_tag("adidas_logo.png", alt: "adidas_logo", class: "bg-emerald-50 rounded-full h-full p-2 aspect-1 ring-2 ring-inset ring-accent") %>
  <%= image_tag("spotify_logo.png", alt: "spotify_logo", class: "bg-emerald-50 rounded-full h-full p-2 aspect-1 ring-2 ring-inset ring-accent") %>
  <%= image_tag("tesla_logo.png", alt: "tesla_logo", class: "bg-emerald-50 rounded-full h-full p-2 aspect-1 ring-2 ring-inset ring-accent") %>
</div>