<% content_for :header do %>
  <div class="flex justify-between items-center w-full py-2">
    Traders Transactions

    <div class="text-xs w-1/4">
      <%= render 'shared/filter_transactions', { resource: "Transactions", path: admin_transactions_path, filter_array: @transaction_types } %>
    </div>
  </div>
<% end %>

<div class="relative shadow-md sm:rounded-lg text-sm flex flex-col gap-2 w-full">
  <!-- SEARCH BAR -->
  <%= form_with url: admin_transactions_path, method: :get, class: "w-1/4" do |form| %>         
    <div class="w-full flex">
      <%= form.text_field :search, value: params[:search], placeholder: "Enter UID", class:"rounded rounded-lg bg-gray-50 border text-gray-900 focus:ring-blue-500 focus:border-blue-500 block flex-1 min-w-0 w-full text-sm border-gray-300 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
    </div>
  <% end %>

  <table class="w-full text-sm text-left rtl:text-right text-gray-400">
    <thead class="text-xsuppercase bg-gray-700/55 text-gray-400">
      <tr>
        <th scope="col" class="px-6 py-3">
            UID
        </th>
        <th scope="col" class="px-6 py-3">
            Transaction Type
        </th>
        <th scope="col" class="px-6 py-3">
            Stock Symbol
        </th>
        <th scope="col" class="px-6 py-3">
            Company Name
        </th>
        <th scope="col" class="px-6 py-3">
            Shares
        </th>
        <th scope="col" class="px-6 py-3">
            Per Share / Amount
        </th>
        <th scope="col" class="px-6 py-3">
            Timestamp
        </th>
      </tr>
    </thead>

    <tbody>
      <% @transactions.each do |transaction| %>
        <tr class="border-b bg-stone-900/35 border-gray-700 hover:bg-gray-600">
          <th scope="row" class="px-6 py-3 font-medium whitespace-nowrap text-white">
            <%= transaction.user.uid %>
          </th>
          <th scope="row" class="px-6 py-3 font-medium whitespace-nowrap text-white">
            <%= transaction.transaction_type.upcase %>
          </th>
          <td class="px-6 py-2.5">
            <%= transaction.stock ? transaction.stock.stock_symbol.upcase : 'N/A' %>
          </td>
          <td class="px-6 py-2.5">
            <%= transaction.stock ? transaction.stock.company_name : 'N/A' %>
          </td>
          <td class="px-6 py-2.5">
            <%= transaction.stock ? transaction.shares : 'N/A' %>
          </td>
          <td class="px-6 py-2.5">
            <%= format_currency(transaction.price_per_share || transaction.amount) %>  
          </td>
          <td class="px-6 py-2.5">
            <%= transaction.created_at.localtime.strftime('%a, %d %b %Y %H:%M:%S') %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table> 
</div>

<!-- *** Render a view helper in your views (skipping nav links for empty pages)*** -->
<div class=" grid place-items-center py-2.5">
  <%== pagy_nav(@pagy) if @pagy.pages > 1 %> 
</div>