<% content_for :header do %>
  <div class="flex justify-between items-center w-full py-2">
    Traders Transactions
    <div class="text-xs w-1/4">
      <%= render 'shared/filter_transactions', { resource: "Transactions", path: admin_transactions_path, filter_array: @transaction_types } %>
    </div>
  </div>
<% end %>
<div class="relative shadow-md sm:rounded-lg text-sm flex flex-col gap-2 w-full">
  <!-- SEARCH BAR -->
  <div class="relative mb-2">
    <%= search_form_for(@q, url: admin_transactions_path, class: "w-1/4") do |f| %>
      <div class="absolute inset-y-0 start-0 flex items-center ps-2.5 pointer-events-none">
        <svg class="w-5 h-5 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="none" viewBox="0 0 24 24">
          <path stroke="currentColor" stroke-linecap="round" stroke-width="2" d="m21 21-3.5-3.5M17 10a7 7 0 1 1-14 0 7 7 0 0 1 14 0Z"/>
        </svg>
      </div>
      <%= f.search_field :user_uid_or_stock_stock_symbol_or_stock_company_name_eq, placeholder: "Search", class:"bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
    <% end %>
  </div>
  <table class="w-full text-sm text-left rtl:text-right text-gray-400">
    <thead class="text-xsuppercase bg-gray-700/55 text-gray-400">
      <tr>
        <th scope="col" class="px-6 py-3">
          UID
        </th>
        <th scope="col" class="px-6 py-3">
          Transaction Type
        </th>
        <th scope="col" class="px-6 py-3">
          Stock Symbol
        </th>
        <th scope="col" class="px-6 py-3">
          Company Name
        </th>
        <th scope="col" class="px-6 py-3">
          Shares
        </th>
        <th scope="col" class="px-6 py-3">
          Price
        </th>
        <th scope="col" class="px-6 py-3">
          Amount
        </th>
        <th scope="col" class="px-6 py-3">
          Timestamp
        </th>
      </tr>
    </thead>
    <tbody>
      <% @transactions.each do |transaction| %>
        <tr class="border-b bg-stone-900/35 border-gray-700 hover:bg-gray-600">
          <th scope="row" class="px-6 py-3 font-medium whitespace-nowrap text-white">
            <%= transaction.user.uid %>
          </th>
          <th scope="row" class="px-6 py-3 font-medium whitespace-nowrap text-white">
            <%= transaction.transaction_type.upcase %>
          </th>
          <td class="px-6 py-2.5">
            <%= transaction.stock ? transaction.stock.stock_symbol.upcase : 'N/A' %>
          </td>
          <td class="px-6 py-2.5">
            <%= transaction.stock ? transaction.stock.company_name : 'N/A' %>
          </td>
          <td class="px-6 py-2.5">
            <%= transaction.stock ? transaction.shares : 'N/A' %>
          </td>
          <td class="px-6 py-2.5">
            <%= transaction.stock ? format_currency(transaction.price_per_share) : 'N/A' %>
          </td>
          <td class="px-6 py-2.5">
            <% total_amount = transaction.price_per_share * transaction.shares if transaction.shares.present? %>
            <%= format_currency(total_amount || transaction.amount) %>
          </td>
          <td class="px-6 py-2.5">
            <%= transaction.created_at.localtime.strftime('%a, %d %b %Y %H:%M:%S') %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<!-- *** Render a view helper in your views (skipping nav links for empty pages)*** -->
<div class=" grid place-items-center py-2.5">
  <%== pagy_nav(@pagy) if @pagy.pages > 1 %>
</div>