<div id="edit-modal-<%= trader.id %>" tabindex="-1" aria-hidden="true" class="overflow-y-auto overflow-x-hidden fixed top-1/2 left-1/2 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
  <div class="relative p-4 w-full max-w-md max-h-full">
    <!-- Modal content -->
    <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
      <!-- Modal header -->
      <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
        <h3 class="font-sans text-xl font-semibold text-gray-900 dark:text-white">
            Edit User Details
        </h3>
        <button type="button" class="end-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide="edit-modal-<%= trader.id %>">
            <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
            </svg>
            <span class="sr-only">Close modal</span>
        </button>
      </div>
        
      <!-- Modal body -->
      <div class="p-4 md:p-5 flex flex-col gap-3">
        <%= form_for(trader, url: admin_user_path(trader), html: { method: :patch }) do |f| %>
          <div>
            <%= f.label :username, class: "modal__label" %> 
            <%= f.text_field :username, autofocus: true, autocomplete: "username", class: "modal__textfield", id: "user_username_#{trader.id}" %>
          </div>

          <div>
            <%= f.label :email, class: "modal__label" %> 
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "modal__textfield", id: "user_email_#{trader.id}" %>
          </div>
        
          <%= f.fields_for :status do |builder| %>
            <div class="field flex-row items-center gap-2 px-px <%= trader.status.status_type == 'approved' ? 'hidden' : 'inline-flex' %>">
              <%= builder.check_box :status_type, { checked: false, id: "status_type_#{trader.id}_#{builder.object.id}" }, 'approved', nil %>
              <%= builder.label "status_type_#{trader.id}_#{builder.object.id}", "Approve", class: "text-white font-medium" %>   
            </div>

            <%= builder.hidden_field :id, id: "user_status_attributes_id_#{trader.id}" %>
          <% end %>

          <div class="modal__button">
            <%= f.button "Save Changes" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div> 
