<% content_for :header do %>
  All Traders
<% end %>

<div class="divide-y-2 divide-gray-600 text-sm">
  <% @traders.each do |trader| %>
    <div class="flex justify-between px-4 py-2">
      <div class="flex flex-col gap-1">
        <h1><%= trader.username %></h1>
        <p><%= trader.email %></p>
      </div>

      <div class="border flex items-center justify-center">
        <%= trader.status.status_type %>
      </div>
            
      <div class="flex items-center gap-2">
        <!-- Modal toggle -->
        <button data-modal-target="edit-modal-<%= trader.id %>" data-modal-toggle="edit-modal-<%= trader.id %>" class="block text-white bg-teal-700 hover:bg-teal-800 focus:ring-4 focus:outline-none focus:ring-teal-300 font-medium rounded-lg text-sm pr-3 pl-4 py-2.5 text-center dark:bg-teal-600 dark:hover:bg-teal-700 dark:focus:ring-teal-800" type="button">
          <svg class="w-5 h-5 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m14.304 4.844 2.852 2.852M7 7H4a1 1 0 0 0-1 1v10a1 1 0 0 0 1 1h11a1 1 0 0 0 1-1v-4.5m2.409-9.91a2.017 2.017 0 0 1 0 2.853l-6.844 6.844L8 14l.713-3.565 6.844-6.844a2.015 2.015 0 0 1 2.852 0Z"/>
          </svg>
        </button>

        <!-- Delete User Button -->
        <button data-modal-target="delete-modal-<%= trader.id %>" data-modal-toggle="delete-modal-<%= trader.id %>" class="block text-white bg-violet-700 hover:bg-violet-800 focus:ring-4 focus:outline-none focus:ring-violet-300 font-medium rounded-lg text-sm px-3 py-2.5 text-center dark:bg-violet-600 dark:hover:bg-violet-700 dark:focus:ring-violet-800" type="button">
          <svg class="w-5 h-5 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 7h14m-9 3v8m4-8v8M10 3h4a1 1 0 0 1 1 1v3H9V4a1 1 0 0 1 1-1ZM6 7h12v13a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V7Z"/>
          </svg>
        </button>
      </div>
    </div>

    <%= render partial: 'edit_form_modal', locals: { trader: trader } %>
    <%= render partial: 'delete_user_modal', locals: { trader: trader } %>
  <% end %>
</div>
