<% content_for :header do %>
  <div class="flex justify-between items-center w-full py-2">
    All Traders
    <div class="text-xs w-1/4">
      <!--
      <%= form_tag admin_users_path, method: :get, class: "flex justify-end max-w-sm" do %>
        <div class="relative">
          <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
            <svg class="w-4 h-4 text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
              <path stroke="currentColor" stroke-linecap="round" stroke-width="2" d="M18.796 4H5.204a1 1 0 0 0-.753 1.659l5.302 6.058a1 1 0 0 1 .247.659v4.874a.5.5 0 0 0 .2.4l3 2.25a.5.5 0 0 0 .8-.4v-7.124a1 1 0 0 1 .247-.659l5.302-6.059c.566-.646.106-1.658-.753-1.658Z"/>
            </svg>
          </div>
          <%= select_tag :filter, options_for_select({ "All Traders": nil, "Pending": 'pending', "Confirmed Email": 'confirmed_email', "Approved": 'approved' }, params[:filter]), class: "bg-gray-50 border border-gray-300 text-gray-900 text-xs rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 py-1.5 px-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
        </div>

        <%= submit_tag "Filter", class: "py-1.5 px-3 ms-2 text-xstext-white bg-secondary rounded-lg border border-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-secondary dark:focus:ring-blue-800 cursor-pointer" %>    
      <% end %>
      -->
      <%= render 'shared/filter_transactions', { resource: "Traders", path: admin_users_path, filter_array: @status_types } %>
    </div>
  </div>
<% end %>
<div class="relative shadow-md sm:rounded-lg text-sm">
  <table class="w-full text-sm text-left rtl:text-right text-gray-400">
    <thead class="text-xsuppercase bg-gray-700/55 text-gray-400">
      <tr>
        <th scope="col" class="px-6 py-3">
          Email
        </th>
        <th scope="col" class="px-6 py-3">
          Username
        </th>
        <th scope="col" class="px-6 py-3">
          UID
        </th>
        <th scope="col" class="px-6 py-3">
          Status
        </th>
        <th scope="col" class="px-6 py-3">
          <span class="sr-only">Actions</span>
        </th>
      </tr>
    </thead>
    <tbody>
      <% @traders.each do |trader| %>
        <tr class="border-b bg-stone-900/35 border-gray-700 hover:bg-gray-600">
          <th scope="row" class="px-6 py-3 font-medium whitespace-nowrap text-white">
            <%= trader.email %>
          </th>
          <td class="px-6 py-2.5">
            <%= trader.username %>
          </td>
          <td class="px-6 py-2.5">
            <%= trader.uid %>
          </td>
          <td class="px-6 py-2.5">
            <%= trader.status.status_type %>
          </td>
          <td class="w-fit h-fit">
            <div class="flex items-center gap-2 justify-center">              
              <%= link_to admin_user_path(trader), data: { turbo_frame: 'show_modal' }, class: "block text-white focus:ring-4 focus:outline-none font-medium rounded-lg text-sm px-4 py-2 text-center bg-blue-600 hover:bg-blue-700 focus:ring-blue-800" do %>
                <svg class="w-5 h-5 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 11h2v5m-2 0h4m-2.592-8.5h.01M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"/>
                </svg>
              <% end %>
              
              <%= link_to edit_admin_user_path(trader), data: { turbo_frame: 'edit_modal' }, class: "block text-white focus:ring-4 focus:outline-none font-medium rounded-lg text-sm pr-3 pl-4 py-2 text-center bg-teal-600 hover:bg-teal-700 focus:ring-teal-800" do %>
                <svg class="w-5 h-5 text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m14.304 4.844 2.852 2.852M7 7H4a1 1 0 0 0-1 1v10a1 1 0 0 0 1 1h11a1 1 0 0 0 1-1v-4.5m2.409-9.91a2.017 2.017 0 0 1 0 2.853l-6.844 6.844L8 14l.713-3.565 6.844-6.844a2.015 2.015 0 0 1 2.852 0Z"/>
                </svg>
              <% end %>

              <%= link_to admin_user_path(trader), data: { turbo_method: :delete, turbo_confirm: "You are about to permanently delete #{trader.email}" }, class: "block text-white focus:ring-4 focus:outline-none font-medium rounded-lg text-sm px-4 py-2 text-center bg-violet-600 hover:bg-violet-700 focus:ring-violet-800" do %>
                <svg class="w-5 h-5 text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 7h14m-9 3v8m4-8v8M10 3h4a1 1 0 0 1 1 1v3H9V4a1 1 0 0 1 1-1ZM6 7h12v13a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V7Z"/>
                </svg>
              <% end %>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<!-- *** Render a view helper in your views (skipping nav links for empty pages)*** -->
<div class=" grid place-items-center py-2.5">
  <%== pagy_nav(@pagy) if @pagy.pages > 1 %>
</div>

<!-- Delete confirmation modal -->
<%= render 'delete_user_modal' %>

<!--** TURBO_FRAME MODALS **-->
<%= turbo_frame_tag "show_modal" %>
<%= turbo_frame_tag "edit_modal" %>