<% content_for :header do %>
  Hello, <%= time_of_day_greeting.downcase %>
<% end %>

<div class="relative w-full h-full p-2 flex flex-col gap-2"> 
  <div class="w-full">
    <%= render 'profile_box' %>
  </div>

  <% if @trader_status != "approved" %>    
    <%= render 'pending_banner' %>
    
  <!-- *** STATUS_TYPE: APPROVED *** -->
  <% else %>  
    <div class="w-full">
      <%= render 'balance_box' %>
    </div>

    <div class="w-full">
      <%= render 'assets_box' %>
    </div>    
  <% end %>
  
</div>


