<% content_for :header do %>
  Hello, <%= time_of_day_greeting.downcase %>
<% end %>
<div class="relative w-full h-full p-2 flex flex-col gap-2">
  <div class="px-4">
    <%= render 'profile_box' %>
  </div>
  <% if @trader_status != "approved" %>
    <%= render 'pending_banner' %>
    <!-- *** STATUS_TYPE: APPROVED *** -->
  <% else %>
    <div class="px-4">
      <%= render 'balance_box' %>
    </div>
    <%= render 'assets_box' %>
  <% end %>
</div>
<!--** TURBO_FRAME MODALS **-->
<%= turbo_frame_tag "cash_in_modal" %>
<%= turbo_frame_tag "withdraw_modal" %>