<!DOCTYPE html>
<html>
  <head>
    <title>stocker</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="icon" type="image/x-icon" href="/stocker.png" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css" rel="stylesheet" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

    <%= javascript_importmap_tags %>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.turbo.min.js" defer></script>
  </head>

  <body class="bg--secondary flex flex-col gap-2">   
    <%= turbo_frame_tag "modal" %>
    <%= render partial: "shared/toast_error", locals: {  message_error: flash[:alert] } %>
    <%= render partial: "shared/toast_success", locals: { message_success: flash[:notice] } %>

    <main class="w-full h-full flex flex-col items-center gap-1 py-4">
      <header class="w-full h-[10%] px-4 flex justify-center">
        <%= render 'shared/stocker_logo' %>
      </header>
      <section class="w-1/4 bg--frosted flex flex-col justify-center gap-3 p-4">
        <%= yield %>
      </section>      

    </main>
  </body>
</html>
