<!DOCTYPE html>
<html>
  <head>
    <title>stocker</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="icon" type="image/x-icon" href="/stocker.png" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg--landing">
    <%= render 'pages/navbar' %>
    
    <main class="w-full h-[90%]">
      <%= yield %>
    </main>
  </body>
</html>
